################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Quickstain.VC.db
/Quickstain.VC.VC.opendb
